<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Items</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Party</string>
			<key>id</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Concert</string>
			<key>id</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bar</string>
			<key>id</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Sport</string>
			<key>id</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Restaurant</string>
			<key>id</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cinema</string>
			<key>id</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Trip</string>
			<key>id</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Birthday</string>
			<key>id</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Thearter</string>
			<key>id</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Museum</string>
			<key>id</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Single</string>
			<key>id</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Dating</string>
			<key>id</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Family</string>
			<key>id</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Hunt</string>
			<key>id</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cards</string>
			<key>id</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Wine</string>
			<key>id</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>GN Tonic</string>
			<key>id</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Photography</string>
			<key>id</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Dancing</string>
			<key>id</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Idioms</string>
			<key>id</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Other</string>
			<key>id</key>
			<integer>21</integer>
		</dict>
	</array>
</dict>
</plist>
